
@font-face {
    font-family: 'briannes_handregular';
    src:url('./brianneshand-webfont.woff2') format('woff2'),
        url('./brianneshand-webfont.ttf') format('truetype'),
        url('./brianneshand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}