@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
body {
  overflow-x: hidden;
  background-color: #185D10;
  margin: 0;
}

@font-face {
  src: url(./css/Brianne_s_hand.ttf);
  font-family: "Brianne's Hand";
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brianne {
  font-family: "Brianne's Hand";
}

.text-light {
  color: #FFFFFF;
}

.text-dark {
  color: #000000;
}

div.description h3 {
  font-weight: normal;
  color: white;
}

.button {
  background-color: #FDD400;
  border: none;
  border-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 25px;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #FDD400;
  color: #000000;
}

li {
  list-style: none;
  font-family: "Brianne's Hand";
}

.nav-links a {
  color: #000000;
  font-family: "Brianne's Hand";
}

.img-logo {
  max-height: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  font-size: 1.5em;
}

.menu li:hover {
  background-color: #FBE574;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.services {
  position: relative;
}

.dropdown {
  background-color: #FDD400;
  border: 1px solid #000000;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 45px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  width: 7em;
  text-align: left;
}

.dropdown li:hover {
  background-color: #FBE574;
  color: #FFFFFF;
}

.services:hover .dropdown {
  display: block;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 960px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #FDD400;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #FBE574;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  .dropdown li:hover {
    background-color: #FBE574;
  }
}

footer {
  margin-top: 10vh;
}

footer .footer-links {
  padding: 20px;
  background-color: #FDD400;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 50px 50px 0 0;
}

footer .footer-links .logo {
  width: 20%;
}

footer .footer-links .logo img {
  height: 200px;
  float: right;
}

footer .footer-links .links {
  width: 40%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 3vh;
}

footer .footer-links .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-links .links ul h2 {
  font-weight: normal;
}

footer .footer-links .links .disclaimer {
  padding-top: 2vh;
}

footer .footer-links .socials {
  width: 20%;
  padding-left: 30vh;
  padding-top: 3vh;
}

footer .footer-links .socials .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-links .socials .footer-icons h1 {
  font-size: 3em;
  padding-left: 10px;
  color: #752E10;
}

footer .footer-links .links-main {
  padding-top: 10px;
}

footer .bottom {
  padding: 20px;
  background-color: #752E10;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */