
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import "./variables";


//body
body{
    background-color: $body;
    margin: 0;
}

@font-face {
    font-family: "Brianne's hand Regular", "Brianne's hand", sans-serif;
    src: url('Brianne_s_hand.ttf') format('truetype'), url('Brianne_s_hand.woff') format('woff');
  }

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.brianne{
    font-family: "Brianne's hand Regular", "Brianne's hand", sans-serif;
    font-weight: normal;
}
.container{
    @media screen and (max-width:768px) {
        &{
            padding-left: 2%;
            padding-right: 2%;
        }
     }
    @media screen and (max-width:959px) {
        &{
            padding-left: 3%;
            padding-right: 3%;
        }
     }
    @media screen and (min-width:960px) {
        &{
            padding-left: 10%;
            padding-right: 10%;
        }
     }
}
.text-light{
    color: $text-primary;
}
.text-dark{
    color: $text-secondary;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

div.description h3{
    font-weight: normal;
    color: white;
}

.button {
    background-color: $accent;
    border: none;
    border-radius: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 25px;
  }

// Nav Bar
a {
text-decoration: none;
}
nav{
    position: fixed;
    width: 100%;
} 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: $accent;
    color: $text-secondary;
    li {
        list-style: none;
        font-family: "Brianne's Hand";
       }
   }
  
   .nav-links a {
    color: $text-secondary;
    font-family: "Brianne's Hand";

   }

.logo{
    .img-logo{
        max-height: 50px;
    }
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 1.5em;
    li:hover {
        background-color: $text-highlight;
        border-radius: 5px;
        transition: 0.3s ease;
       }
    li {
    padding: 5px 14px;
    }
   }


input[type=checkbox]{
    display: none;
   } 
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   @media (max-width: 992px) {
   .menu { 
    display:none;
    position: absolute;
    background-color: $accent;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    li:hover {
        display: inline-block;
        background-color:$text-highlight;
        transition: 0.3s ease;
       }
    li + li {
    margin-top: 12px;
        }

   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(30%);
    li:hover {
        background-color: $text-highlight;
       }
   }
   }

// nav bar end

.section-description{

    display:flex;
    justify-content: center;
    margin-top: 100px;
    color: white;
    h1{
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 20px;
    }
    ul{
        list-style-type: disc;
    }
    .span-see{
        margin-top: 10px;
        font-family: 'Lato', sans-serif;
    }
    .image-dp{
        img{
            border-radius: 45px;    
        }
    }   

    @media screen and (min-width: 960px) {
        &{
            .description{
                width: 40%;
                .span-see{
                    font-size: 1.3em;
                }
            }
            .image-dp{
                img{
                    border: 10px solid $accent;
                    width: 90%;
                    float:right;
                }
                img.order-1{
                    float:left;
                }
            }
        }
    }
    @media screen and (max-width: 959px) {
        &{  
            flex-direction: column;
            .description{
                text-align: center;
               &.order-1{
                    order: -1;
                }
            }
        }
        .image-dp{
            display:flex;
            justify-content: center;
            img{
                margin-top: 20px;
                border: 5px solid $accent;
                width: 90%;
            }
        }
    }
}

.section-1{
    display: flex;
    justify-content: center;
}


.section-2{
    @media screen and (min-width: 960px) {
        display: flex;
        padding: 10px;
        justify-content: center;
    
        #pvz-main{
            img{
                float: right;
            }
        }
        .info{
            padding-top: 30px;
            width: 40%; 
            h1{ 
                font-size: 2.5em;
                text-align: left;
            }
            p{
                padding-top: 10px;
            }
        }
    }
    @media screen and (max-width: 959px) {
        display:flex;
        justify-content: center;
        flex-direction: column;
        #pvz-main{
            display: flex;
            justify-content: center;
            img{
                height: 200px;
            }
        }
        .info{
            padding: 20px;
            h1{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
}
//footer
footer{
    margin-top: 10vh;
    .footer-links{
        padding:20px;
        background-color: $accent;
        color: $text-secondary;
        display: flex;
        border-radius: 50px 50px 0 0;
        @media screen and (min-width:992px) {
            &{
                flex-direction: row;
            }
        }
        @media screen and (max-width:991px) {
            &{
                flex-direction: column;
            }
        }
        .logo{
            @media screen and (min-width:992px) {
                &{
                    width: 20%;
                }
            }
            @media screen and (max-width:991px) {
                &{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }

            img{
                height: 200px;
                @media screen and (min-width:992px) {
                    &{
                        float: right;
                    }
                }
    
            }
        }
        .links{
            @media screen and (min-width:992px) {
                &{
                    width: 40%;
                }
            }
            @media screen and (max-width:991px) {
                &{
                    text-align: center;
                    width: 100%;
                }
            }

            height: max-content;
            padding-top: 3vh;
            ul{
                display: flex;
                @media screen and (min-width:992px) {
                    &{
                        justify-content: space-between;
                        flex-direction: row;
                    }
                }
                @media screen and (max-width:991px) {
                    &{
                        flex-flow:column;
                        gap:10px;

                    }
                }

                list-style-type: none;
                h2{
                    font-weight: normal;
                    color: black;
                }
            }
            .disclaimer{
                padding-top: 2vh;

                @media screen and (max-width:991px) {
                    &{
                        text-align: center;
                        h3{
                            padding-bottom: 5px;
                        }
                    }
                }
            }
        }
        .socials{
            
            padding-top: 3vh;
            @media screen and (min-width:992px) {
                &{
                    padding-left: 30vh;
                    width: 20%;
                }
            }
            @media screen and (max-width:991px) {
                &{    
                    text-align: center;
                    width: 100%;
                }
            }
           
            .footer-icons{
                display: flex;
                flex-direction: row;
                @media screen and (max-width:991px) {
                    &{    
                        justify-content: center;
                    }
                }
                h1{
                    font-size: 3em;
                    padding-left: 10px;
                    color: $accent-secondary;
                }
            }
        }
        .links-main{
            padding-top: 10px;
        }
    }
    .bottom{
        @media screen and (max-width:991px) {
            &{
                text-align: center;
            }
        }
        padding:20px;
        background-color: $accent-secondary;
        color: $text-primary;
    }
}