$body : #9A4D00;
$body-secondary: #5D2710;
$accent: #FDD400;
$accent-secondary: #3E7F29;
$text-primary: #FFFFFF;
$text-secondary: #000000;
$text-highlight: #FBE574;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
//body
body{
    overflow-x: hidden;
    background-color: $body;
    margin: 0;
}

@font-face {
    src: url(./css/Brianne_s_hand.ttf);
    font-family: "Brianne's Hand";
  }

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.brianne{
    font-family: "Brianne's Hand";
    color: white;
}
h1 h2 h3 h4 h5{
    font-family: "Brianne's Hand";
    color: white;
}
p{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: white;
   @media screen and (min-width: 768px) {
        font-size: 1.3em;
    }
       
}


// Nav Bar
a {
text-decoration: none;
}
nav{
    position: fixed;
    width: 100%;
} 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: $accent;
    color: $text-secondary;
    
   }
   li {
    list-style: none;
    font-family: "Brianne's Hand";
   }
   .nav-links a {
    color: $text-secondary;
   }

 .img-logo{
     max-height: 50px;
 }

   .menu {
    display: flex;
    gap: 1em;
    font-size: 1.5em;
    li:hover {
        background-color: $text-highlight;
        border-radius: 5px;
        transition: 0.3s ease;
       }
    li {
    padding: 5px 14px;
    }
   }

   .services {
    position: relative; 
   }
   .dropdown {
    background-color: $accent;
    border: 1px solid $text-secondary;
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 45px;
    li + li {
        margin-top: 10px;
       }
    li {
    width: 7em;
    text-align: left;
    }
    li:hover {
        background-color: $text-highlight;
        color: $text-primary;
       }
   }
   .services:hover .dropdown {
    display: block;
   }


input[type=checkbox]{
    display: none;
   } 
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color: $accent;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    li:hover {
        display: inline-block;
        background-color:$text-highlight;
        transition: 0.3s ease;
       }
    li + li {
    margin-top: 12px;
        }

   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(30%);
    li:hover {
        background-color: $text-highlight;
       }
   }
   }

// nav bar end

//banner
#banner{
    background-image: url('../images/mainpage.png');
    background-size: cover;
    border-radius: 20px;

    @media screen and (max-width: 767px) {
        &{
            height: 40vh;
            width: 100%;
            background-position: left;
            border: 10px solid $accent;
        }
    }
    @media screen and (min-width: 768px) {
        &{
            height: 60vh;
            width: 80%;
            background-position: center;
            border: 15px solid $accent;

        }
    }
}

//section
.section-1{
    display: flex;
    justify-content: center;
}
.section-2{
@media screen and (min-width: 960px) {
    display: grid;
    padding: 10px;
    grid-template-columns: 0.7fr 1fr;
    grid-gap: 1em;
    #pvz-main{
        img{
            float: right;
        }
    }
    .info{
        padding-top: 30px;
        width: 70%; 
        h1{ 
            font-size: 2.5em;
            text-align: left;
        }
        p{
            padding-top: 10px;
        }
    }
}
@media screen and (max-width: 959px) {
    display:flex;
    justify-content: center;
    flex-direction: column;
    #pvz-main{
        display: flex;
        justify-content: center;
        img{
            height: 200px;
        }
    }
    .info{
        padding: 20px;
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}
}

.section-description{
    h1{
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    i{
        margin-left: 5px;
        margin-right: 5px;
    }
    p{
        margin-bottom: 20px;
    }
    .span-see{
        color: white;
        font-family: Lato, sans-serif;
    }
    .image-dp{
        img{
            border-radius: 45px;    
        }
    }   
    .text-right{
        text-align: right;
    }
    margin-top: 100px;
    @media screen and (min-width: 960px) {
        &{
            display:flex;
            justify-content: center;
            align-items: center;
            .description{
                width: 40%;
                .span-see{
                    font-size: 1.3em;
                }
            }
            .image-dp{
                img{
                    border: 10px solid $accent;
                }
            }
        }
    }
    @media screen and (max-width: 959px) {
        &{  
            display:flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
            
            .description{
                text-align: center;
               &.order-1{
                    order: -1;
                }
            }
        }
        .image-dp{
            display:flex;
            justify-content: center;
            img{
                margin-top: 20px;
                border: 5px solid $accent;
                width: 90%;
            }
        }
     
    }
}
        



    


