@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
body {
  overflow-x: hidden;
  background-color: #185D10;
  margin: 0;
}

@font-face {
  src: url(./css/Brianne_s_hand.ttf);
  font-family: "Brianne's Hand";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brianne {
  font-family: "Brianne's Hand";
  color: white;
}

h1 {
  font-family: "Brianne's Hand";
  color: white;
}

div.description h3 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: white;
}

.button {
  background-color: #FDD400;
  border: none;
  border-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 25px;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #FDD400;
  color: #000000;
}

li {
  list-style: none;
  font-family: "Brianne's Hand";
}

.nav-links a {
  color: #000000;
}

.img-logo {
  max-height: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  font-size: 1.5em;
}

.menu li:hover {
  background-color: #FBE574;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.services {
  position: relative;
}

.dropdown {
  background-color: #FDD400;
  border: 1px solid #000000;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 45px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  width: 7em;
  text-align: left;
}

.dropdown li:hover {
  background-color: #FBE574;
  color: #FFFFFF;
}

.services:hover .dropdown {
  display: block;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #FDD400;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #FBE574;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  .dropdown li:hover {
    background-color: #FBE574;
  }
}

#banner {
  background-image: url("../images/mainpage.png");
  background-size: cover;
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  #banner {
    height: 40vh;
    width: 100%;
    background-position: left;
    border: 10px solid #FDD400;
  }
}

@media screen and (min-width: 768px) {
  #banner {
    height: 60vh;
    width: 80%;
    background-position: center;
    border: 15px solid #FDD400;
  }
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 960px) {
  .section-2 {
    display: -ms-grid;
    display: grid;
    padding: 10px;
    -ms-grid-columns: 0.7fr 1fr;
        grid-template-columns: 0.7fr 1fr;
    grid-gap: 1em;
  }
  .section-2 #pvz-main img {
    float: right;
  }
  .section-2 .info {
    padding-top: 30px;
    width: 70%;
  }
  .section-2 .info h1 {
    font-size: 2.5em;
    text-align: left;
  }
  .section-2 .info p {
    padding-top: 10px;
  }
}

@media screen and (max-width: 959px) {
  .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-2 #pvz-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-2 #pvz-main img {
    height: 200px;
  }
  .section-2 .info {
    padding: 20px;
  }
  .section-2 .info h1 {
    text-align: center;
  }
  .section-2 .info p {
    text-align: center;
  }
}

.section-description {
  margin-top: 100px;
}

.section-description h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.section-description i {
  margin-left: 5px;
  margin-right: 5px;
}

.section-description p {
  margin-bottom: 20px;
}

.section-description .span-see {
  margin-top: 10px;
  font-family: Lato, sans-serif;
}

.section-description .image-dp img {
  border-radius: 45px;
}

.section-description .text-right {
  text-align: right;
}

@media screen and (min-width: 960px) {
  .section-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-description .description {
    width: 40%;
  }
  .section-description .description .span-see {
    font-size: 1.3em;
  }
  .section-description .image-dp img {
    border: 10px solid #FDD400;
  }
}

@media screen and (max-width: 959px) {
  .section-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-description .description {
    text-align: center;
  }
  .section-description .description.order-1 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .section-description .image-dp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-description .image-dp img {
    margin-top: 20px;
    border: 5px solid #FDD400;
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */