@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
body {
  background-color: #185D10;
  margin: 0;
}

@font-face {
  font-family: "Brianne's hand";
  src: url("https://cdn.discordapp.com/attachments/884267448910635148/984486988738609202/brianneshand.woff2") format("woff2"), url("https://cdn.discordapp.com/attachments/884267448910635148/984486988545654904/brianneshand.woff") format("woff"), url("https://cdn.discordapp.com/attachments/884267448910635148/984486988226912326/brianneshand.ttf") format("truetype");
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brianne {
  font-family: "Brianne's hand";
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 959px) {
  .container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (min-width: 960px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.text-light {
  color: #FFFFFF;
}

.text-dark {
  color: #000000;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

div.description h3 {
  font-weight: normal;
  color: white;
}

.button {
  background-color: #FDD400;
  border: none;
  border-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 25px;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  background-color: #FDD400;
  color: #000000;
}

.navbar li {
  list-style: none;
  font-family: "Brianne's hand";
}

.nav-links a {
  color: #000000;
  font-family: "Brianne's hand";
}

.logo .img-logo {
  max-height: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  font-size: 1.5em;
}

.menu li:hover {
  background-color: #FBE574;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 992px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #FDD400;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #FBE574;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  .dropdown li:hover {
    background-color: #FBE574;
  }
}

.section-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  color: white;
}

.section-description h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.section-description p {
  margin-bottom: 20px;
}

.section-description ul {
  list-style-type: disc;
}

.section-description .span-see {
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
}

.section-description .image-dp img {
  border-radius: 45px;
}

@media screen and (min-width: 960px) {
  .section-description .description {
    width: 40%;
  }
  .section-description .description .span-see {
    font-size: 1.3em;
  }
  .section-description .image-dp img {
    border: 10px solid #FDD400;
    width: 90%;
    float: right;
  }
  .section-description .image-dp img.order-1 {
    float: left;
  }
}

@media screen and (max-width: 959px) {
  .section-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-description .description {
    text-align: center;
  }
  .section-description .description.order-1 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .section-description .image-dp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-description .image-dp img {
    margin-top: 20px;
    border: 5px solid #FDD400;
    width: 90%;
  }
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 960px) {
  .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-2 #pvz-main img {
    float: right;
  }
  .section-2 .info {
    padding-top: 30px;
    width: 40%;
  }
  .section-2 .info h1 {
    font-size: 2.5em;
    text-align: left;
  }
  .section-2 .info p {
    padding-top: 10px;
  }
}

@media screen and (max-width: 959px) {
  .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-2 #pvz-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-2 #pvz-main img {
    height: 200px;
  }
  .section-2 .info {
    padding: 20px;
  }
  .section-2 .info h1 {
    text-align: center;
  }
  .section-2 .info p {
    text-align: center;
  }
}

footer {
  margin-top: 10vh;
}

footer .footer-links {
  padding: 20px;
  background-color: #FDD400;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px 50px 0 0;
}

@media screen and (min-width: 992px) {
  footer .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 991px) {
  footer .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  footer .footer-links .logo {
    width: 20%;
  }
}

@media screen and (max-width: 991px) {
  footer .footer-links .logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-links .logo img {
  height: 200px;
}

@media screen and (min-width: 992px) {
  footer .footer-links .logo img {
    float: right;
  }
}

footer .footer-links .links {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 3vh;
}

@media screen and (min-width: 992px) {
  footer .footer-links .links {
    width: 40%;
  }
}

@media screen and (max-width: 991px) {
  footer .footer-links .links {
    text-align: center;
    width: 100%;
  }
}

footer .footer-links .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

@media screen and (min-width: 992px) {
  footer .footer-links .links ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 991px) {
  footer .footer-links .links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 10px;
  }
}

footer .footer-links .links ul h2 {
  font-weight: normal;
  color: black;
}

footer .footer-links .links .disclaimer {
  padding-top: 2vh;
}

@media screen and (max-width: 991px) {
  footer .footer-links .links .disclaimer {
    text-align: center;
  }
  footer .footer-links .links .disclaimer h3 {
    padding-bottom: 5px;
  }
}

footer .footer-links .socials {
  padding-top: 3vh;
}

@media screen and (min-width: 992px) {
  footer .footer-links .socials {
    padding-left: 30vh;
    width: 20%;
  }
}

@media screen and (max-width: 991px) {
  footer .footer-links .socials {
    text-align: center;
    width: 100%;
  }
}

footer .footer-links .socials .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 991px) {
  footer .footer-links .socials .footer-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-links .socials .footer-icons h1 {
  font-size: 3em;
  padding-left: 10px;
  color: #752E10;
}

footer .footer-links .links-main {
  padding-top: 10px;
}

footer .bottom {
  padding: 20px;
  background-color: #752E10;
  color: #FFFFFF;
}

@media screen and (max-width: 991px) {
  footer .bottom {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */