
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import "./variables";


//body
body{
    overflow-x: hidden;
    background-color: $body;
    margin: 0;
}

@font-face {
    src: url(./css/Brianne_s_hand.ttf);
    font-family: "Brianne's Hand";
  }

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.brianne{
    font-family: "Brianne's Hand";
}

.text-light{
    color: $text-primary;
}
.text-dark{
    color: $text-secondary;
}

div.description h3{
    font-weight: normal;
    color: white;
}

.button {
    background-color: $accent;
    border: none;
    border-radius: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 25px;
  }

// Nav Bar
a {
text-decoration: none;
}
nav{
    position: fixed;
    width: 100%;
} 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: $accent;
    color: $text-secondary;
    
   }
   li {
    list-style: none;
    font-family: "Brianne's Hand";
   }
   .nav-links a {
    color: $text-secondary;
    font-family: "Brianne's Hand";

   }

 .img-logo{
     max-height: 50px;
 }

   .menu {
    display: flex;
    gap: 1em;
    font-size: 1.5em;
    li:hover {
        background-color: $text-highlight;
        border-radius: 5px;
        transition: 0.3s ease;
       }
    li {
    padding: 5px 14px;
    }
   }

   .services {
    position: relative; 
   }
   .dropdown {
    background-color: $accent;
    border: 1px solid $text-secondary;
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 45px;
    li + li {
        margin-top: 10px;
       }
    li {
    width: 7em;
    text-align: left;
    }
    li:hover {
        background-color: $text-highlight;
        color: $text-primary;
       }
   }
   .services:hover .dropdown {
    display: block;
   }


input[type=checkbox]{
    display: none;
   } 
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   @media (max-width: 960px) {
   .menu { 
    display:none;
    position: absolute;
    background-color: $accent;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    li:hover {
        display: inline-block;
        background-color:$text-highlight;
        transition: 0.3s ease;
       }
    li + li {
    margin-top: 12px;
        }

   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(30%);
    li:hover {
        background-color: $text-highlight;
       }
   }
   }

// nav bar end

    


//footer
footer{
    margin-top: 10vh;
    .footer-links{
        padding:20px;
        background-color: $accent;
        color: $text-secondary;
        display: flex;
        flex-direction: row;
        border-radius: 50px 50px 0 0;
        .logo{
            width: 20%;
            img{
                height: 200px;
                float: right;
            }
        }
        .links{
            width: 40%;
            height: max-content;
            padding-top: 3vh;
            ul{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                h2{
                    font-weight: normal;
                }
            }
            .disclaimer{
                padding-top: 2vh;
            }
        }
        .socials{
            width: 20%;
            padding-left: 30vh;
            padding-top: 3vh;
            .footer-icons{
                display: flex;
                flex-direction: row;
                h1{
                    font-size: 3em;
                    padding-left: 10px;
                    color: $accent-secondary;
                }
            }
        }
        .links-main{
            padding-top: 10px;
        }
    }
    .bottom{
        padding:20px;
        background-color: $accent-secondary;
        color: $text-primary;
    }
}