@import "../variables";

//banner

#banner{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5)),url('../../images/banner/plants.png');
    background-size: cover;
    border-radius: 40px;
    display: flex;
    flex-direction: column-reverse;

    h1{
        font-weight: normal;
   }
    @media screen and (max-width: 767px) {
        &{
            height: 30vh;
            width: 100%;
            background-position: left;
            border: 10px solid $accent;
            h1{
                font-size: 3em;
                padding: 40px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        &{
            height: 35vh;
            width: 80%;
            background-position: center;
            border: 15px solid $accent;
            h1{
                font-size: 4em;
                padding: 40px;
            }
        }
    }
}

div.categories{
   padding-top: 8vh;
   h1.next{
       margin-top: 50px;
   }
   @media screen and (max-width:768px) {
    &{
        .brianne{
            text-align: center;
        }
    }
    }
    .plants{
        display:flex;
        width: 100% !important; 
        flex-direction: row;
        flex-wrap: wrap;
      
        @media screen and (max-width:768px) {
            &{
                justify-content: center;
                text-align: center;
            }
        }
    }
   .card-plants{
       margin-top: 20px;
       margin-right: 15px;
       display: flex;
       flex-direction: column;
       text-align: center;
       width: 230px;
       height: 220px;
       background-color: $accent-secondary;
       border: $accent 4px solid;
       border-radius: 20px;
       transition: transform 0.2s ease-out;
       &:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease;
        }
       img{
           padding:15px;
       }
       h2{
           color: white;
           font-weight: normal;
       }

       @media screen and (min-width:960px) {
        &{
            width: 230px;
            height: 220px;
        }
    }
       @media screen and (max-width:768px) {
        &{
            width: 200px;
            height: 200px;
            h2{
                font-size: 1.2em;
            }
        }
    }
        @media screen and (max-width:576px) {
            &{
                width: 150px;
                height: 150px;
                h2{
                    font-size: 1em;
                }
            }
        }
   }
}