.color-body {
  color: #185D10;
}

.color-blight {
  color: #6ABA3A;
}

.color-accent {
  color: #FDD400;
}

.color-secondary {
  color: #752E10;
}

.color-danger {
  color: #FF5C5C;
}

.text-primary {
  color: #FFFFFF;
}

.text-secondary {
  color: #000000;
}

.text-highlight {
  color: #FBE574;
}

.body-bg {
  background-color: #185D10;
}

.body-accent {
  background-color: #FDD400;
}

.body-secondary {
  background-color: #752E10;
}

.body-black {
  background-color: #000000;
}

#banner {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5))), url("../../images/banner/zombies.png");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5)), url("../../images/banner/zombies.png");
  background-size: cover;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#banner h1 {
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  #banner {
    height: 30vh;
    width: 100%;
    background-position: left;
    border: 10px solid #FDD400;
  }
  #banner h1 {
    font-size: 3em;
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  #banner {
    height: 35vh;
    width: 80%;
    background-position: center;
    border: 15px solid #FDD400;
  }
  #banner h1 {
    font-size: 4em;
    padding: 40px;
  }
}

div.categories {
  padding-top: 8vh;
}

div.categories h1.next {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  div.categories .brianne {
    text-align: center;
  }
}

div.categories .zombies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  div.categories .zombies {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

div.categories .card-zombies {
  margin-top: 20px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #752E10;
  border: #FDD400 4px solid;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

div.categories .card-zombies:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

div.categories .card-zombies img {
  padding: 15px 15px 10px 15px;
}

div.categories .card-zombies h2 {
  width: 220px;
  color: white;
  font-weight: normal;
  word-break: normal;
}

@media screen and (min-width: 960px) {
  div.categories .card-zombies {
    width: 235px;
    height: 285px;
  }
}

@media screen and (max-width: 768px) {
  div.categories .card-zombies {
    width: 200px;
    height: 230px;
  }
  div.categories .card-zombies h2 {
    font-size: 1.2em;
    width: 190px;
  }
}

@media screen and (max-width: 576px) {
  div.categories .card-zombies {
    width: 150px;
    height: 175px;
  }
  div.categories .card-zombies h2 {
    font-size: 1em;
    width: 145px;
  }
}
/*# sourceMappingURL=zombies-cat.css.map */