@import "../variables";
//banner
#banner{
    background-image: url('../../images/banner/index.png');
    background-size: cover;
    border-radius: 40px;

    @media screen and (max-width: 767px) {
        &{
            height: 40vh;
            width: 100%;
            background-position: left;
            border: 10px solid $accent;
        }
    }
    @media screen and (min-width: 768px) {
        &{
            height: 60vh;
            width: 80%;
            background-position: center;
            border: 15px solid $accent;

        }
    }
}

//section


div.section-page{
    padding-top: 8vh;
    height: 50vh;
    background-image: url('../../images/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
     .category{
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }
    .card-category{
        margin-right: 15px;
        display: flex;
        flex-direction:column;
        text-align: center;

        img{
            border: $accent 4px solid;
            border-radius: 20px;
        }
        h2{
            margin-top: 10px;
            color: white;
            font-weight: normal;
        }
        @media screen and (min-width:960px) {
            &{
                width: 230px;
                height: 220px;
            }
        }
           @media screen and (max-width:768px) {
            &{
                width: 200px;
                height: 200px;
                h2{
                    font-size: 1.2em;
                }
            }
        }
            @media screen and (max-width:576px) {
                &{
                    width: 150px;
                    height: 150px;
                    h2{
                        font-size: 1em;
                    }
                }
            }
    }
 }

.section-description{
    i{
        margin-left: 5px;
        margin-right: 5px;
    }
    @media screen and (min-width: 960px) {
        &{
            align-items: center;
        }
    }

}
        
